:root {
    --light-orange: #DE9100;
    --orange-50: #CA6801;
    --cream-color: #F3E8CF;
    --dark-green: #283618;
    --light-green-50: #606C39;
    --green-30: #6A994E;
    --green-70: #3E4722;
    --green-80: #13180A;
    --grey-90: #353334;
    --black-00: #000000;
    --header-font: "Alfa Slab One", cursive;
    --body-font: "Roboto Serif", serif;
    --body-font-XS: 15px;
    --body-font-S: 20px;
    --body-font-M: 30px;
    --body-font-L: 45px;
    --body-font-XL: 200px;
    --header-font-M: clamp(30px, 4vw, 52px);
}

/* Theme Variables */
:root {
    --bg-color: var(--dark-green);
    --card-bg: var(--cream-color);
    --text-main: var(--dark-green);
    --text-accent: var(--cream-color);
}

.light-mode {
    --bg-color: var(--cream-color);
    --card-bg: #ffffff;
    --text-main: var(--dark-green);
    --text-accent: var(--dark-green);
}

.dark-mode {
    --bg-color: var(--dark-green);
    --card-bg: #353334;
    --text-main: var(--cream-color);
    --text-accent: var(--cream-color);
}